.logo-img {
    /*width: 40px;
    display: inline-block;
    height: 40px;
    margin-left: 0px;
    margin-right: 10px;
    background: white;
    border-radius: 40px;
    text-align: center;*/
}

.logout_btn {
    /*border: 1px solid red;*/
}
