@model Retailr3.Models.UnitOfMeasureType.AddUnitOfMeasureTypeViewModel

@{
    ViewData["Title"] = "New Unit Of Measure Type";
}

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-content">
                    <form id="loanAppllicationForm" asp-action="Create" method="POST">
                        @Html.ValidationSummary(true)
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label><span style="color: red"> *</span>
                                        <input id="name" required asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input id="description" asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-6">
                                </div>
                             </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-center submit-button">
                                        <button id="submit_btn" type="submit" class="btn btn-info btn-fill btn-wd">Submit</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>


                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <a class="btn btn-info btn-sm" asp-action="Index">Back to Unit Of Measure Types</a>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
