<footer class="border-top footer text-muted">
    <div class="container">
        &copy;
        <script>document.write(new Date().getFullYear())</script> - Payr  @*- powered by <a href="www.virtualcity.co.ke" target="_blank">Virtualcity</a>*@
    </div>
</footer>