<div class="sidebar" data-background-color="white" data-active-color="success">
    <div id="style-3" class="sidebar-wrapper">
        <div class="logo">
            <a href="~/" class="simple-text">
                <div class="logo-img"><img src="~/favicon1.ico" alt=""> Payr</div>
            </a>
        </div>
        <ul class="nav">
            <li class="">
                <a href="~/">
                    <i class="ti-panel"></i> <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="">
                <a href="~/Loans/Requests">
                    <i class="ti-money"></i> <p>
                        Loan Request
                    </p>
                </a>
            </li>
            <li class="">
                <a href="~/Loans/History">
                    <i class="ti-view-list"></i> <p>
                        Loan History
                    </p>
                </a>
            </li>
            <li class="">
                <a href="~/Loans/Details">
                    <i class="ti-control-shuffle"></i> <p>
                        Loan Details
                    </p>
                </a>
            </li>
            <li class="">
                <a href="~/Loans/Limits">
                    <i class="ti-wallet"></i> <p>
                        View Limit
                    </p>
                </a>
            </li>
            <li class="">
                <a href="~/Loans/Profile">
                    <i class="ti-user"></i> <p>
                        Profile
                    </p>
                </a>
            </li>
        </ul>
        <div class="moving-arrow" style="transform: translate3d(0px, 300px, 0px);"></div>
    </div>
</div>
