@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLoginNew.cshtml";
}

    <div class="container-login100-form-btn">
        <a href="/Home/Index" class="btn login-button block full-width m-b">Login</a>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}